extends ../../layout.jade
block contenido
	div(class="col-md-6 remove-float center-block big-top-space")
		h1 CREACION DE CLIENTES 
		form(action="/app/cliente",method="POST")
			div(class="form-group")
				label(for="title") Nit
				input(type="text", name="cli_nit", placeholder="Nit de la empresa", id="cli_nit",class="form-control")
			div
				label(for="archivo") Razon Social
				input(type="text", name="cli_razon_social", placeholder="Razon Social", id="cli_razon_social",class="form-control")

			div
				label(for="title") Direccion
				input(type="text", name="cli_direccion", placeholder="Direccion Cliente", id="cli_direccion",class="form-control")

			div
				label(for="title") Email
				input(type="text", name="cli_email", placeholder="Email", id="email",class="form-control")

			div(class="row top-space")
				div(class="col-xs-12 col-sm-6")
					input(type="submit" value="Crear Cliente" class="btn btn-info")