extends ../../layout.jade
block contenido
	form#f_corte(method='get')
		div
			label FORMATO ORDEN DE CORTE N:
			input(type='text', name='o_numero', size='6')
		div
			div
				label Cliente:
				input(type="text" name="c_numero" size="26")
				label Referencia:
				input(type="text" name="c_referencia" size="26")
			div
				label Valor Cliente:
				input(type="text" name="c_v_cliente" )
				label Valor Cortador:
				input(type="text" name="c_v_cortador" size="6")
				label Patronista:
				input(type="text" name="c_patronista" size="6")
			div
				label Fecha Recibido:
				input(type="text" name="c_f_recibido" size="16")
				label Fecha Entrega:
				input(type="text" name="c_numero" size="6")
			div
				label Tallas:
				input(type="text" name="c_tallas1" size="2")
				input(type="text" name="c_tallas2" size="2")
				input(type="text" name="c_tallas3" size="2")
				input(type="text" name="c_tallas4" size="2")
				input(type="text" name="c_tallas5" size="2")
				input(type="text" name="c_tallas6" size="2")
				input(type="text" name="c_tallas7" size="2")
				input(type="text" name="c_tallas8" size="2")
				input(type="text" name="c_tallas9" size="2")
				input(type="text" name="c_tallas10" size="2")
			div
				label Cantidad Propuestas:
				input(type="text" name="c_p1" size="2")
				input(type="text" name="c_p2" size="2")
				input(type="text" name="c_p3" size="2")
				input(type="text" name="c_p4" size="2")
				input(type="text" name="c_p5" size="2")
				input(type="text" name="c_p6" size="2")
				input(type="text" name="c_p7" size="2")
				input(type="text" name="c_p8" size="2")
				input(type="text" name="c_p9" size="2")
				input(type="text" name="c_p10" size="2")
				label Total:
				input(type="text" name="c_total" size="2")
		div
			div
				label Fecha de Entrega trazo a corte:
				input(type="text" name="c_fentrega" size="36")
				label Cantidad de piezas trazadas:
				input(type="text" name="c_cant_piezas" size="36")
		div
			div
				label Fecha real entrega de corte:
				input(type="text" name="c_total" size="25")
				label Factura de Venta u Orden de Trabajo:
				input(type="text" name="c_fventa" size="12")
			div
				label Tallas:
				input(type="text" name="c_tallas_1" size="2")
				input(type="text" name="c_tallas_2" size="2")
				input(type="text" name="c_tallas_3" size="2")
				input(type="text" name="c_tallas_4" size="2")
				input(type="text" name="c_tallas_5" size="2")
				input(type="text" name="c_tallas_6" size="2")
				input(type="text" name="c_tallas_7" size="2")
				input(type="text" name="c_tallas_8" size="2")
				input(type="text" name="c_tallas_9" size="2")
				input(type="text" name="c_tallas_10" size="2")
			div
				label Cantidades Reales:
				input(type="text" name="c_reales_1" size="2")
				input(type="text" name="c_reales_2" size="2")
				input(type="text" name="c_reales_3" size="2")
				input(type="text" name="c_reales_4" size="2")
				input(type="text" name="c_reales_5" size="2")
				input(type="text" name="c_reales_6" size="2")
				input(type="text" name="c_reales_7" size="2")
				input(type="text" name="c_reales_8" size="2")
				input(type="text" name="c_reales_9" size="2")
				input(type="text" name="c_reales_10" size="2")
			div
				label Operador de Corte 1
				input(type="text" name="c_ocorte1" size="12")
				label Porcentaje
				input(type="text" name="c_porcent1" size="12")
				label Valor
				input(type="text" name="c_valor1" size="12")
			div
				label Operador de Corte 2
				input(type="text" name="c_ocorte2" size="12")
				label Porcentaje
				input(type="text" name="c_porcent2" size="12")
				label Valor
				input(type="text" name="c_valor2" size="12")
			div
				label Operador de Corte 3
				input(type="text" name="c_ocorte3" size="12")
				label Porcentaje
				input(type="text" name="c_porcent3" size="12")
				label Valor
				input(type="text" name="c_valor3" size="12")
		div
			div
				label OBSERVACIONES DEL CORTE
				input(type="text" name="c_obs")
		div
			div
				input(type="button" onclick="alert('Desea Guardar" value="Guardar")


			



